body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    /* bootstrap sets .navbar-brand {font-size: 1.25rem} */
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 4em;
}

@media(max-width:1400px) {
    #headingGroup h1 {
        font-size: 3.5rem;
    }
}

@media (max-width:1200px) {
    #headingGroup h1 {
        font-size: 2.9rem;
    }
}