.gameContent {
    display: block;
}

.buttons {
    padding: 0;
}

.myButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: fit-content;
    height: fit-content;
    word-wrap: break-word;
    white-space: normal !important;
}

.panel-block {
    padding-bottom: 0;
}

.winner {
    /* https://bulma.io/documentation/overview/colors/ */
    color: hsl(141, 53%, 53%);
}

.loser {
    /* https://bulma.io/documentation/overview/colors/ */
    color: hsl(348, 100%, 61%);
}